
<div class="description-top">
       
<div class="description-top-comment">注意</div>
<div class="description-top-comment-main">- 山に登るの機能を使う場合はユーザー登録かログインをお願いします -</div>
<div class="description-top-comment-main">- ログインや新規登録は右上のボタンから -</div>
<div class="description-top-comment-main">- 山を探すのは下のボタンから -</div>


<div class="description-btn">
       <%= link_to "トップページへ", root_path ,class:"description-go-btn"%>
       </div>

</div>



