.trekking-index-name{
  font-size: 2rem;
  font-family: fantasy;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:1rem
  
}



.trekking-img{
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trekking-index-img{
  width: 40%;
  height: auto;
  
}