.trekking-top-new{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  
}

.trekking-top-comment{
  padding-bottom: 0.35em;
  font-size: 2em;
  color: #333;
  border-bottom: 3px solid #ccc;

}

.calorie-top{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  
}

.calorie-comment{
  font-size: 2rem;
  margin: 1.5rem 0;
}

.calorie{
  font-size: 2rem;
  font-weight: bold;
  border-bottom: 0.1rem solid crimson;
}