.mypeage{
  width: 100%;
  min-width: 800px;
  display: flex;
  justify-content: center;  
}


.mypeage-main{
width: 50%;
  background-color: white;
  padding-bottom: 2rem;
}

.mypeage-top{
  border-bottom: 2px #999999 solid;
  font-size: 2rem;
  font-family: fantasy;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:1rem
}


.mypeage-advise{
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:1rem

}


.mypeage-show{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:1rem
}


.mypeage-show-main {
  width: 45%;
  height: 50%;
  margin-top:1rem; /*枠線の上の空白*/
  margin-bottom:2rem /*枠線の下の空白*/
  
}

.mypeage-show-contents{
  display: flex;
  flex-direction: column;
  align-items: center;
  border:0.3rem solid #006edc; /*枠線の色*/
  border-radius:1rem; /*枠線の丸み*/
  padding:0px 1rem 0px 1rem /*枠線の中の空白*/
}

.mypeage-label{
  font-weight: bold;
  border-bottom: 0.1rem solid crimson;
  margin: 1rem;
}

.mypeage-main-content{
  font-size: 1.1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  
}

.mypeage-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem 0;
padding-bottom: 1.3rem;
}

.mypeage-go-btn{
  padding: 0.4em 0.8em;
  font-size: 2em;
  color: black;
  border: 0.3rem solid #006edc;
  border-radius: 20px;
}