.header-3 {
  box-sizing: border-box;
  width: 100%;
  height: 75px;
  background-color: cornsilk;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1024px;
  height: 75px;
  padding: 0 0.8em;
  margin: 0 auto;
  font-size: 1.2em;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-item {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.hikers-icon{
  width: 20%;
  margin-top: 10px;
}

.header-button {
  box-sizing: border-box;
  display: inline-block;
  padding: 0.5em 1.2em;
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

.header-login {
  font-weight: bold;
  color: #fff;
  background: #00b5ad;
  border: 1px #00b5ad solid;
  border-radius: 3px;
}

.header-post {
  font-weight: bold;
  color: #fff;
  background: #00b5ad;
  border: 1px #00b5ad solid;
  border-radius: 3px;
}

.footer-hikers {
  padding-bottom: 0.35em;
  font-size: 1.5em;
  color: #333;
  border-bottom: 3px solid #ccc;
}


@media screen and (max-width: 480px) {
  .header-post {
    display: none;
  }
}